<div class="container">
  <br/>
  <br/>
  <span>
    <h1 class="header" style="text-align: center">
      <strong>IMFORMATIONS GRADUATES</strong>
    </h1>
  </span>
  <div class="row">
    <div class=" col-md-6">
      <!-- <button class="btn btn-success" data-toggle="modal" data-target="#createModal">Add new</button> -->
    </div>
    <div class="col-md-6 form-inline">
      Search student name:
      <input type="search" placeholder="search" class="form-control" [formControl]="searchControl">
    </div>
  </div>
  <br/>
  <table class="table table-striped table-hover">
    <tr>
      <th>No.</th>
      <th>ID Graduate</th>
      <th>Student Name</th>
      <th>Test Name</th>
      <th>Test Mark</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let greduate of greduates ; index as i">
      <td>{{i+1}}</td>
      <td>{{greduate.idgraduate}}</td>
      <td>{{greduate.student.name}}</td>
      <td>{{greduate.test.name}}</td>
      <td>{{greduate.test.mark}}</td>
      <td>
        <!-- <button class="btn btn-danger glyphicon glyphicon-remove-circle" (click)="delete(greduate.idgraduate); $event.stopPropagation()"></button> -->
        <button type="button" class="btn btn-danger glyphicon glyphicon-remove-circle" data-toggle="modal" data-target="#deleteModal"
          (click)="delete(greduate.idgraduate)"></button>
      </td>
    </tr>
    <!-- <tr *ngFor="let student of students; trackBy: trackByStudent">
        <td>{{student.idstudent}}</td>
        <td>{{student.name}}</td>
        <td>{{student.email}}</td>
        <td>{{student.address}}</td>
        <td>
          <button class="btn btn-primary glyphicon glyphicon-edit" data-toggle="modal" data-target="#viewModal" (click)="view(student)"></button>
        </td>
        <td>
          <button class="btn btn-success glyphicon glyphicon-edit" routerLink="/graduates/{{student.idstudent}}"></button>
          <td>
            <button class="btn btn-danger glyphicon glyphicon-edit" data-toggle="modal" data-target="#updateModal" (click)="edit(student)"></button>
          </td>
          <td>
            <button class="btn btn-danger glyphicon glyphicon-remove-circle" (click)="delete(student.idstudent); $event.stopPropagation()"></button>
          </td>
      </tr> -->
  </table>
</div>
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" style="text-align: center">
          <b class="modal-title">Are you sure you want to delete!!</b>
        </h3>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="confirmDelete()">YES</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
      </div>
    </div>
  </div>
</div>