<div class="container">
  <br/>
  <br/>
  <span>
    <h1 class="header" style="text-align: center">
      <strong>TEACHERS</strong>
    </h1>
  </span>
  <div class="row">
    <div class=" col-md-6">
      <button class="btn btn-success" (click)="save()">Save</button>
      <button type="button" class="btn btn-default" (click)="gotoBack()">Back</button>
    </div>
    <div class="col-md-6 form-inline">
      <!-- Search name:
        <input type="search" placeholder="search" class="form-control" [formControl]="searchControl"> -->
    </div>
    <br/>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name </th>
          <th>Age</th>
          <th>Add</th>
          <!-- <th>Delete</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of teachers; trackBy: trackByCourse">
          <td>{{teacher.idteacher}}</td>
          <td>{{teacher.name}}</td>
          <td>{{teacher.age}}</td>
          <td>
            <button class="btn btn-success glyphicon glyphicon-plus-sign" (click)="add(teacher.idtacher)"></button>
          </td>
          <!-- <td>
              <button class="btn btn-danger glyphicon glyphicon-remove-circle" (click)="delete(test.idtest); $event.stopPropagation()"></button>
            </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>